<%= form_for @post do |f| %>

  <!-- エラー処理 -->
  <% @post.errors.full_messages.each do |message| %>
    <p class="error"><%= message %></p>
  <% end %>

  <!-- 入力フォーム -->
  <% if current_user != nil %>
    <%= f.text_area :text, :class => "border_"+current_user.color %>
    <p><%= f.submit "つぶやく", :class => "newpost bg_"+current_user.color %></p>
  <% else %>
    <%= link_to "新しくユーザを作成する", new_user_path, :class => "newpost" %>
  <% end %>
<% end %>

<!-- Post一覧 -->
<ul class="posts">
  <% @posts.each do |post| %>
    <% user = User.find(post.user_id) %>

    <li>
      <div class="post border_<%= user.color %>">
        <!-- キャプション -->
        <div class="post_caption bg_<%= user.color %>">
          <h2><%= user.name %></h2>
        </div>

        <!-- 本文 -->
        <div class="post_text">
          <p><%= post.text %></p>
          <p class="date"><%= post.created_at %></p>
        </div>

        <!-- 削除ボタン -->
        <% if current_user == user %>
          <div class="delete">
            <%= form_for post, :url => post_path(post.id), :html => { :method => :delete } do |f| %>
              <span><%= f.submit "削除", :class => "bg_"+user.color , :data => { :confirm => '本当に削除しますか？' } %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
